# PostgreSQL
POSTGRES_DB=kanchaya
POSTGRES_USER=kanchaya
POSTGRES_PASSWORD=kanchaya_dev_password
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# Elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_JAVA_OPTS=-Xms512m -Xmx512m

# Microservices
API_PORT=3000
WORKER_PORT=3001
